@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>*@
</hgroup>

<h3>Telerik/Kendo UI Demo For TabStrip</h3>
<br />

    <div id="contacts-tabstrip">
    <ul>
        <li class="k-state-active">
            About Us
        </li>
        <li>
            Contact
        </li>
        <li>
            Testimonials
        </li>
    </ul>
    <div>
       
        <p>
            For a business, having an appropriate software solution is critical. Today there are a huge number of software applications and tons of code out there, and it is tough to come up with the correct choice, on what or which one to use. We will help with our extensive experience to ensure you get the perfect cost effective software solution to meet your current and future business needs.

            We focus on your actual problem, and provide the software solution that will address your pain point.
        </p>

        <p>We listen. We ask questions. We analyze. We deliver. We take the time to listen, and understand your custom business requirements, which in turn ensures we’ll develop a software solution that meets your needs, and exceeds your expectations.</p>

        <p>We are open to say ‘No but we can do’. We wont surprise you with a bad news.We’re open and honest. This gives our clients confidence because we don’t just recommend the latest or easiest technology to work with. Instead we take the time to listen and ask the right questions to deliver the best solution for your needs. We inform the if there are any potential risks involved in the solutions that we provide.</p>

        <p>We work towards building a strong long-term partnerships with our clients based on trust and the delivery of software solutions. Our continuous goal is to deliver the features that bring the most value to your business.</p>


        

    </div>
    <div>
        <p>
            <span class="label">TALK TO AN EXPERT</span>
            <span>9-999-9-XXXXXXXXX</span>
        </p>        
        
        @*<p>
            
        </p>
        <p>
           
        </p>*@
        <p>
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
        </p>
    </div>
    <div>
        <p>Here are a few of our latest testimonials:</p>


        <p>
            <b>We have been very pleased with what you’ve done for us and want to continue with you when future projects arise.</b><br />

           
        </p>
        <p>
            <b>We’ve been very happy with work and the team on the SharePoint project. No complaints. It has been a pleasure to work with your company.</b><br />
          

        </p>
        <p>
            <span><a href="" target="_blank">Click here for more Testimonials</a></span>
        </p>
    </div>
</div>
<script>
    $(function () {
        $("#contacts-tabstrip").kendoTabStrip();
    });
</script>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />