@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>*@
</hgroup>

<h3>Telerik/Kendo UI Demo For TabStrip</h3>
<br />

    <div id="contacts-tabstrip">
    <ul>
        <li class="k-state-active">
            About Us
        </li>
        <li>
            Contact
        </li>
        <li>
            Testimonials
        </li>
    </ul>
    <div>
       
        <p>
            Since 1999, Fast Track has helped scores of companies pull ahead of their competition by building web, tablet, mobile and desktop applications using the latest technologies. Fast Track offers quick, cost-effective website and application development solutions for small businesses, designers, and enterprises.
        </p>

        <p>    Our unique background allows us to deliver leading-edge technical solutions quickly that increase your competitive advantage and help you to better connect with your customers.  As a website development company and custom software developer, our website solutions range from simple sites to large, complex applications that operate high traffic environments.</p>

        <p> We offer a complete range of website and application development services - from business analysis, software design and prototyping to development, QA services, post-project maintenance and support.  We’ve helped companies from small businesses to Fortune 50 companies leverage technologies to realize their business visions.</p>

        <p> And we can do the same for you.</p>

        <p> Want help pulling ahead of your competition?</p>
        <p> <b>Call us now at 1-855-7-FASTTRACK.</b></p>

        </p>

    </div>
    <div>
        <p>
            <span class="label">Main:</span>
            <span>1-855-7-FASTTRACK</span>
        </p>
        <p>
            <span class="label">After Hours:</span>
            <span>(206) 935-1100 </span>
        </p>
        <p>
            <span class="label">Email:</span>
            <span><a href="mailto:info@fasttrackteam.com">info@fasttrackteam.com</a></span>
        </p>
        @*<p>
            <span class="label">Marketing:</span>
            <span><a href="mailto:info@fasttrackteam.com">Marketing@example.com</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:General@example.com">General@example.com</a></span>
        </p>*@
        <p>
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
        </p>
    </div>
    <div>
        <p>Here are a few of our latest testimonials:</p>


        <p>
            <b>I couldn’t be more happy with the work.... Rating: 10 out of 10.</b><br />

            Shreyas Vijaykumar<br />
            Technical Product Manager<br />
            Microsoft Corporation<br />
        </p>
        <p>
            <b>Brian is capable of thinking strategically, inspiring others to execute his vision, while being able to execute the vision himself. I have found it rare among people in the software industry who can both be visionary as well as possess the skills to execute.</b><br />

            Erik Giesa<br />
            Director of Marketing<br />
            F5<br />

        </p>
        <p>
            <span><a href="http://www.fasttrackteam.com/testimonials.aspx" target="_blank">Click here for more Testimonials</a></span>
        </p>
    </div>
</div>
<script>
    $(function () {
        $("#contacts-tabstrip").kendoTabStrip();
    });
</script>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />